
.button {
  display: inline;
}

#control i {
  font-size: 20vmin;
  margin: 5vmin;
}

input[type="radio"] {
  visibility:hidden;
}

input[type="radio"]:checked ~ i {
  color: #f00;
}

@media only screen and (max-width: 600px) {
  .button {
      display: block;
  }
}
